<form class="col-sm-offset-2 col-sm-8">
	<h1>Subtask:</h1>
	<div class="form-group">
		<label for="summary">Summary:</label>
		<input type="text" id="summary" class="form-control" ng-model="$ctrl.subtask.summary" />
		<label for="description">Description:</label>
		<input type="text" id="description" class="form-control" ng-model="$ctrl.subtask.description" />
		<label for="assignee">Assignee:</label>
		<select ng-model="$ctrl.subtask.assignee" id="assignee" class="form-control" ng-options="user as user.name for user in $ctrl.users track by user.id"></select>
		<label for="remainingTime">Remaining time (hours): </label>
		<input type="number" min="0" id="remainingTime" class="form-control" ng-model="$ctrl.subtask.remainingTime" />
	</div>
	<input type="submit" ng-click="$ctrl.edit()" class="btn btn-info" value="Edit" />
	<a href="#!/problem/{{$ctrl.subtask.problemId}}" class="btn btn-info">Back to problem</a>
</form>