<!DOCTYPE html>
<html ng-app="monitoringSystem">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Monitoring System</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/lib/angular/angular-csp.css" rel="stylesheet" />
	<link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid">
		<header class="navbar navbar-default">
			<div class="container">
				<a class="navbar-brand" href="#">Monitoring System</a>
				<div class="navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="#!/users">Users</a>
						</li>
						<li>
							<a href="#!/problem/add" class="btn btn-info">Add problem</a>
						</li>
						<li>
							<a href="#!/openProblems">Open problems</a>
						</li>
						<li>
							<a href="#!/inDevProblems">Problems in dev</a>
						</li>
						<li>
							<a href="#!/closedProblems">Closed problems</a>
						</li>
					</ul>
					<user-out></user-out>
				</div>
			</div>
		</header>
		<section class="container">
			@RenderBody()
		</section>
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/angular/angular.js"></script>
	<script src="~/lib/angular-route/angular-route.js"></script>
	<script src="~/lib/ng-lodash/build/ng-lodash.js"></script>

	<script src="~/app/core/problem/problem.module.js"></script>
	<script src="~/app/core/problem/problem.service.js"></script>
	<script src="~/app/core/user/user.module.js"></script>
	<script src="~/app/core/user/user.service.js"></script>
	<script src="~/app/core/subtask/subtask.module.js"></script>
	<script src="~/app/core/subtask/subtask.service.js"></script>

	<script src="~/app/problem-detail/problem-detail.module.js"></script>
	<script src="~/app/problem-detail/problem-detail.component.js"></script>
	<script src="~/app/problem-add/problem-add.module.js"></script>
	<script src="~/app/problem-add/problem-add.component.js"></script>
	<script src="~/app/problem-edit/problem-edit.module.js"></script>
	<script src="~/app/problem-edit/problem-edit.component.js"></script>
	<script src="~/app/problem-remove/problem-remove.module.js"></script>
	<script src="~/app/problem-remove/problem-remove.component.js"></script>

	<script src="~/app/user-auth/user-auth.module.js"></script>
	<script src="~/app/user-auth/user-auth.component.js"></script>
	<script src="~/app/user-out/user-out.module.js"></script>
	<script src="~/app/user-out/user-out.component.js"></script>
	<script src="~/app/user-regist/user-regist.module.js"></script>
	<script src="~/app/user-regist/user-regist.component.js"></script>
	<script src="~/app/user-list/user-list.module.js"></script>
	<script src="~/app/user-list/user-list.component.js"></script>
	<script src="~/app/user-detail/user-detail.module.js"></script>
	<script src="~/app/user-detail/user-detail.component.js"></script>

	<script src="~/app/subtask-list-by-problem/subtask-list-by-problem.module.js"></script>
	<script src="~/app/subtask-list-by-problem/subtask-list-by-problem.component.js"></script>
	<script src="~/app/subtask-list-by-user/subtask-list-by-user.module.js"></script>
	<script src="~/app/subtask-list-by-user/subtask-list-by-user.component.js"></script>
	<script src="~/app/subtask-detail/subtask-detail.module.js"></script>
	<script src="~/app/subtask-detail/subtask-detail.component.js"></script>
	<script src="~/app/subtask-add/subtask-add.module.js"></script>
	<script src="~/app/subtask-add/subtask-add.component.js"></script>
	<script src="~/app/subtask-edit/subtask-edit.module.js"></script>
	<script src="~/app/subtask-edit/subtask-edit.component.js"></script>
	<script src="~/app/subtask-remove/subtask-remove.module.js"></script>
	<script src="~/app/subtask-remove/subtask-remove.component.js"></script>

	<script src="~/app/monitoring-system.module.js"></script>
	<script src="~/app/monitoring-system.config.js"></script>
</body>
</html>